# Core ML
lightgbm==4.3.0
scikit-learn==1.4.2
optuna==3.6.1
xgboost==2.0.3

# Data Processing
numpy==1.26.4
pandas==2.2.2
scipy==1.13.0

# Text Features
nltk==3.8.1

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Notebook
jupyter==1.0.0
ipykernel==6.29.4

# Utilities
joblib==1.4.0
tqdm==4.66.2
pickle5==0.0.12
